# Dependencias
node_modules/
.pnpm-store/
vendor/

# Build / cache
dist/
build/
.astro/
.cache/
*.tsbuildinfo

# Entornos y secretos
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Editores / SO
.vscode/
.idea/
.DS_Store
*.swp
